<!-- <section class="flex items-center justify-center container">
    <article class="grid grid-cols-5 grid-rows-5 gap-4 p-2 w-full h-full">
        <div class="col-span-3 row-span-2 bg-amber-800">
            asd
        </div>
        <div class="col-span-2 row-span-2 bg-amber-800">
            <img src="logo.webp" alt="logo de unefa desde 1998" class="p-2 w-full h-full rounded-xl object-cover transition duration-300 hover:scale-105"/>
        </div>
        <div class="col-span-1 row-span-2 bg-gd-one"></div>
        <div class="col-span-2 row-span-2 bg-gd-one"></div>
        <div class="col-span-2 row-span-4 bg-gd-one"></div>
        <div class="col-span-3 row-span-2 bg-gd-one">
            <img src="/imgs-prev/wallpaper.jpeg" alt="" class="p-2 w-full h-full rounded-xl"/>
        </div>
    </article>
</section> -->

<!-- <section class="flex items-center justify-center container mx-auto px-4 py-8">
    <article class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 grid-rows-5 gap-4 p-2 w-full h-full">
        <div class="col-span-1 sm:col-span-3 row-span-2 bg-amber-800">
            asd
        </div>
        <div class="col-span-1 sm:col-span-2 row-span-2 bg-amber-800">
            <img src="logo.webp" alt="logo de unefa desde 1998" class="p-2 w-full h-full rounded-xl object-cover transition duration-300 hover:scale-105"/>
        </div>
        <div class="col-span-1 row-span-2 bg-gd-one"></div>
        <div class="col-span-1 sm:col-span-2 row-span-2 bg-gd-one"></div>
        <div class="col-span-1 sm:col-span-2 row-span-4 bg-gd-one"></div>
        <div class="col-span-1 sm:col-span-3 row-span-2 bg-gd-one">
            <img src="/imgs-prev/wallpaper.jpeg" alt="" class="p-2 w-full h-full rounded-xl"/>
        </div>
    </article>
</section> -->


<section class="flex items-center justify-center container mx-auto px-4 py-8">
    <article class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 grid-rows-5 gap-4 p-2 w-full h-full">
        <div class="col-span-1 sm:col-span-3 row-span-2 bg-gd-one flex items-center justify-center rounded-xl">
            <p class="text-white">asd</p>
        </div>
        <div class="col-span-1 sm:col-span-2 row-span-2 bg-gd-one flex items-center justify-center rounded-xl">
            <img src="logo.webp" alt="logo de unefa desde 1998" class="p-2 w-full h-full rounded-xl object-cover transition duration-300 hover:scale-101"/>
        </div>
        <div class="col-span-1 row-span-2 bg-gd-one flex items-center justify-center"></div>
        <div class="col-span-1 sm:col-span-2 row-span-2 bg-gd-one flex items-center justify-center rounded-xl"></div>
        <div class="col-span-1 sm:col-span-2 row-span-4 bg-gd-one flex items-center justify-center rounded-xl"></div>
        <div class="col-span-1 sm:col-span-3 row-span-2 bg-gd-one flex items-center justify-center rounded-xl">
            <img src="/imgs-prev/wallpaper.jpeg" alt="" class="p-2 w-full h-full rounded-xl object-cover transition duration-300 hover:scale-101"/>
        </div>
    </article>
</section>
