---
import Quill from 'quill';

const quill = new Quill('#editor', {
        theme: 'snow'
    })
---

<div class="mb-3">
    <label class="form-label">Content</label>
    <div id="editor" class="form-control"></div>
</div>