---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    
    <form action="" class="bg-primary-light p-2">
            <div class="relative">
                <input type="text" id="username" class="absolute" required>
                <label for="">Usuario</label>
            </div>
    </form>
    
</Layout>