---
import User from "../components/icons/user.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
    
    <form action="" class="bg-primary-light p-2">
            <div class="relative">
                <input type="text" id="username" class="absolute" required>
                <User/>
            </div>
    </form>
    
</Layout>